absl-py
altgraph
astunparse
cachetools
certifi
chardet
DateTime
dnspython
email-validator
et-xmlfile
filelock
future
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
jdcal
Keras
Keras-Preprocessing
Markdown
mysql-connector
numpy
oauthlib
opencv-python
openpyxl
opt-einsum
pandas
pathlib
pefile
Pillow
protobuf
pyasn1
pyasn1-modules
PyQt5
PyQt5-sip
PyQt5-stubs
PySocks
python-dateutil
pytz
pywin32-ctypes
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
tqdm
urllib3
Werkzeug
wrapt
zope.interface
